* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2D2D2D;
}

.wrapP {
  background: url(./img/1_.png) center center no-repeat;
  background-size: cover;
  
  position: relative;
  padding: 20px 30px 60px 30px;
  
  /*position: absolute;*/
  /*background-size: cover;*/  
}
h1 {
  font-family: Sans-serif;
  font-size: 30px;
  margin-top: 35px;
  margin-left: 30px;
  margin-bottom: 15px;
  color: white;
  left: 30px;
}
.ind1 {
  font-family: Sans-serif;
  font-size: 20px;
/*  padding-top: 20px;
  margin-left: 30px;*/
 /* margin-bottom: 150px;*/
  color: white;
  left: 30px;  
}
.ind2 {
  font-family: Sans-serif;
  font-size: 20px;
  padding-top: 300px;
  margin-left: 50%;
  transform: translate(-50%,0);
  margin-bottom: 20px;
  text-align: center;
  color: white;
  /*left: 30px;*/
}

button {
  cursor: pointer;
  width: 180px;
  height: 40px;
  border-radius: 50px;
  font-family: Sans-serif;
  font-size: 20px;
  background-color: #DA9D28;
  
  
  /*position: absolute;*/
  margin-left: 50%;
  transform: translate(-50%,0);
  /*margin-bottom: 50px;*/
  box-shadow: 0px 0px 8px rgba(250,250,250,0.9);
  border: none;
  bottom: 50px;
}
.wrapM {
  background: url(./img/2.png) center center no-repeat;
  background-size: cover;
  
  padding: 20px 30px 60px 30px;
  min-height: 800px;
  /*min-width: 200px;*/
}

