* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2D2D2D;
}
.wrapP {
  background: url(./img/1_.png) center center no-repeat;
  background-size: cover;  
  /*position: relative;*/
  padding: 30px 60px 100px 100px;
}
h1 {
  display: inline-block;
  font-family: Sans-serif;
  font-size: 80px;
  margin-top: 60px;
  margin-left: 100px;
  margin-bottom: 40px;
  color: white;
  left: 30px;
  
}
.ind1 {
  font-family: Sans-serif;
  font-size: 50px;
  color: white;
  left: 30px;  
  line-height: 1.5;
}
.ind2 {
  font-family: Sans-serif;
  font-size: 50px;
  padding-top: 500px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}
.ind3 {
  font-family: Sans-serif;
  font-size: 50px;
  padding-top: 680px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}
button {
  cursor: pointer;
  width: 450px;
  height: 120px;
  border-radius: 60px;
  font-family: Sans-serif;
  font-size: 50px;
  background-color: #fc3e11;
  font-weight: 600;
  color: white;
  margin-left: 50%;
  transform: translate(-50%,0);
  border: none;
  bottom: 50px;
}
.wrapM {
  background: url(./img/2.png) center center no-repeat;
  background-size: cover;  
  padding: 20px 30px 60px 30px; 
}

.circl {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-top: 90px;
  margin-right: 90px;
  width: 50px;
  height: 50px;
  background-color: #fc3e11;
  border-radius: 50px;
  color: white;  
  font-family: Sans-serif;
  font-size: 40px;
  padding: 5px;
  text-align: center;
}
/*Модальное окно*/
/*.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}*/

